<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>IMMORTALIZER_SETTINGS</string>
			<key>footerText</key>
			<string>NO_RESPRING_NEEDED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sergy.immortalizer.prefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.sergy.immortalizer.preferenceschanged</string>

		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOTIFICATIONS</string>
			<key>footerText</key>
			<string>NOTIFICATIONS_FOOTER</string>
		</dict>
		<dict>	
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>ENABLE_IMMORTAL_FOREGROUND_PER_APP</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplications</string> 
			<key>defaults</key>
			<string>com.sergy.immortalizer.prefs</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
			</array>
			<key>isController</key>
			<true/>
			<key>overridePrincipalClass</key>
			<true/>
			<key>useSearchBar</key>
			<true/>
			<key>PostNotification</key>
			<string>com.sergy.immortalizer.preferenceschanged.notifs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INDICATORS</string>
			<key>footerText</key>
			<string>INDICATORS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sergy.immortalizer.prefs</string>
			<key>key</key>
			<string>isIndicatorEnabled</string>
			<key>label</key>
			<string>ENABLE_STATE_INDICATOR</string>
			<key>PostNotification</key>
			<string>com.sergy.immortalizer.preferenceschanged.indicator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sergy.immortalizer.prefs</string>
			<key>key</key>
			<string>isLockIndicatorEnabled</string>
			<key>label</key>
			<string>ENABLE_LOCK_INDICATOR</string>
			<key>PostNotification</key>
			<string>com.sergy.immortalizer.preferenceschanged.lockindicator</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TOAST</string>
			<key>footerText</key>
			<string>TOAST_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sergy.immortalizer.prefs</string>
			<key>key</key>
			<string>isToastEnabled</string>
			<key>label</key>
			<string>ENABLE_TOAST_MESSAGE</string>
			<key>PostNotification</key>
			<string>com.sergy.immortalizer.preferenceschanged.toast</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>supportPage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>LOVE_MY_TWEAK</string>
			<key>icon</key>
			<string>coffee.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sourceCode</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
			<key>icon</key>
			<string>github.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>socialPage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>FOLLOW_ME</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2024 Serge Alagon (sergy)</string>
		</dict>

	</array>
	<key>title</key>
	<string>Immortalizer</string>
</dict>
</plist>
